html,
body {
  max-width: 100vw;
  height: 100%;
  overflow-x: hidden;
}

main {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#__next {
  display: flex;
  flex-direction: column;
  height: 100%;
}
