// set of standard sizes
$pt0: 1px;
$pt1: 2px;
$pt2: 4px;
$pt3: 8px;
$pt4: 16px;
$pt5: 32px;
$pt6: 64px;
$pt7: 128px;
$pt8: 256px;
$pt9: 512px;

$border-radius: 12px;

$font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;