@import "./src/styles/variables";
.header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: $pt6;
}

.brand-name {
    font-weight: 700;
    color: black;
}

.links {
    list-style: none;
    display: flex;
    gap: $pt6;
}

.link {
    color: black;
}

.buttons {
    display: flex;
    gap: $pt2;
    align-items: center;
}